    .bgr {
        background: silver;
    }
    .b-r20 {
        border-radius: 20px;
    }
    .bord {
        border: 1px solid black;
    }
    .mar {
        margin: 10px;
    }
    .b-s {
        box-sizing: border-box;
    }
    .t-a {
          text-align: center;
      }
   @media screen and (min-width: 992px) {
   .w1100 {
       width: 1100px;
   }
    .f-l-d-r {
        flex-direction: row;
        display: flex;
    }
    .A {
        width: 1080px;
        height: 200px;
    }
    .B {
        width: 860px;
        height: 400px;
    }
    .C {
        width: 200px;
        height: 400px;
    }
    .BB {
        width: 860px;
        height: 180px;
    }
    .CDE {
        width: 270px;
        height: 200px;
    }
}
@media screen and (max-width: 992px) {
.A {
    height: 200px;
}
    .B {
        height: 400px;
    }
    .C {
        height: 200px;
    }
    .BB
    {
        height: 400px;
    }
    .CDE {
        width: 100px;
        height: 100px;
    }
    .CDE1 {
        flex-direction: row;
        display: flex;
    }
    .j-f-c {
        justify-content: space-between;
    }
}
    @media screen and (max-width: 992px) {
    .A {
        height: 100px;
    }
    }